{% extends 'base.html.twig' %}

{% block title %}{{className}}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto;width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% for recipe in recipes %}
        {% if loop.index %2 != 0 %}
        <div class="row">
        {% endif %}
            <div class="col-sm">
                <div class="card" style="width: 20rem; height: 100%;">
                    {% if recipe.image == null %}
                        <img class="card-img-top" style="padding:0.5rem;" src="/images/recetteDefaultImage.png"> {# root is public folder #}
                    {% else %}
                        <img class="card-img-top" style="padding:0.5rem;" src="/images/uploads/{{recipe.image|raw}}">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{recipe.title}}</h2>
                        <p class="card-text">{{recipe.description}}</p>
                        
                        <a href="{{ path('getRecipe', {id:recipe.id })  }}" class="btn btn-primary">Détails</a>
                        <a type="button" class="btn btn-danger" href="{{ path('deleteRecipe' , { id:recipe.id }) }}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% if loop.index %2 == 0 %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
